# TODO: Remove this variable and add db url build from it's pieces
DB_URL=postgres://postgres:postgres@dev-card-db:5432/it_test

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=it_test

API_KEY=zcgmotdruggkwouhdfpccqwnaajwisxc
